---
title: Preguntas frecuentes sobre el módulo de campaña en Brightcove
description: 'Este tema contiene algunas de las preguntas comunes que se hacen sobre Brightcove Campaign.'
parent: General Information
---

<article class="bcls-article">
  <h1>{{ page.title }}</h1>
  <summary>{{ page.description }}</summary>
  <section class="bcls-section" id="why-how">
    <h2>Por qué la campaña y cómo funciona</h2>
    <dl>
      <dt class="bcls-question">¿Por qué necesito rastrear videos en mi solución de automatización de marketing?</dt>
      <dd class="bcls-answer">Las soluciones de automatización de marketing no rastrean el video hoy Si está invirtiendo en video como una pieza poderosa de contenido, debe asegurarse de realizar un seguimiento de su efectividad y automatizar las comunicaciones con los clientes potenciales / usuarios que ven su contenido. </dd>
      <dt class="bcls-question">¿Brightcove y el módulo Campaña utilizan cookies?</dt>
      <dd class="bcls-answer">El módulo Campaña crea y utiliza una cookie de terceros para identificar a los usuarios cuando existe una integración. De esta manera, no se les pide a los espectadores que completen un formulario de clientes potenciales por segunda vez. El módulo también hace uso de las API de Marketo, HubSpot y Eloqua, que a su vez utilizan cookies para rastrear a los espectadores. Cuando se utilizan perfiles de campaña, se utiliza una cookie de Brightcove.</dd>
      <dt class="bcls-question">¿Brightcove Campaign está habilitada para todos los clientes?</dt>
      <dd class="bcls-answer">No. Campaign está disponible como complemento adquirible de Video Marketing Suite (VMS). Sin embargo, los perfiles de campaña están disponibles para todos los clientes de Brightcove de forma gratuita. Puede pensar en ello como "Campaign-lite".</dd>
      <dt class="bcls-question">Quién es elegible para los perfiles de campaña.</dt>
      <dd class="bcls-answer">A partir del cuarto trimestre de 2017, todos los clientes de VMS tendrán acceso a los perfiles de campaña sin costo alguno. <a href="/campaign/integrations/non-map/using-campaign-module-track-viewers.html">Los clientes deberán activarlo para comenzar a rastrear datos.</a>. Los clientes de Enterprise Video Suite (EVS) también tendrán disponible el seguimiento de Campaign SSO.</dd>
    </dl>
  </section>
  <section class="bcls-section" id="tracking-limitations">
    <h2>Seguimiento y limitaciones del espectador</h2>
    <dl>
      <dt class="bcls-question">¿Qué limitaciones tiene Campaign Profiles en comparación con el módulo Campaign con todas las funciones?</dt>
      <dd class="bcls-answer">
        <ul>
          <li>Sin integraciones con sistemas de terceros</li>
          <li>Sin acceso a la API</li>
          <li>Sin formularios de clientes potenciales personalizados (solo formularios de clientes potenciales de campaña)</li>
          <li>Máximo de captura de 1000 vistas / período de 24 horas</li>
        </ul>
        Aún puede exportar manualmente los datos de Campaign a un archivo CSV o XLS.</dd>
      <dt class="bcls-question">¿Qué limitaciones / requisitos tiene Campaign cuando se conecta a una plataforma de automatización de marketing?</dt>
      <dd class="bcls-answer">Las limitaciones y requisitos se describen en la documentación de cada plataforma:
        <ul>
          <li><a href="/campaign/integrations/eloqua/integrating-video-cloud-oracle-eloqua.html">Oracle Eloqua</a></li>
          <li>HubSpot (<a href="/campaign/integrations/hubspot/integrating-video-cloud-hubspot-using-client-side-apis.html">API del lado del cliente</a> o <a href="/campaign/integrations/hubspot/integrating-video-cloud-hubspot-using-rest-apis.html">API REST</a>)</li>
          <li>Marketo<a href="/campaign/integrations/marketo/integrating-video-cloud-marketo-using-munchkin.html">Munchkin</a> o <a href="/campaign/integrations/marketo/integrating-video-cloud-marketo-using-rest-apis.html">API REST</a>)</li>
          <li><a href="/campaign/integrations/salesforce/integrating-video-cloud-salesforce.html">Fuerza de ventas</a></li>
        </ul>
      </dd>
      <dt class="bcls-question">¿Existe algún límite sobre la frecuencia con la que se puede sondear la API de Audience? Sé que hay un límite de 1000 en los resultados de búsqueda de videos, pero ¿hay otros límites relacionados con la frecuencia para ese punto final de la API? </dt>
      <dd class="bcls-answer">El número máximo de eventos de visualización por llamada a la API es en realidad 100. No hay una limitación de velocidad, pero si intenta exigir demasiado, probablemente se ralentizará un poco.</dd>
      <dt class="bcls-question">¿Hay alguna forma de obtener los datos de la campaña más rápido que el retraso de 3 horas que existe actualmente? Me gustaría acercarme a las métricas en tiempo real.</dt>
      <dd class="bcls-answer">No. Si desea métricas en tiempo real, deberá escribir su propio complemento y enviar datos a su propio sistema.</dd>
      <dt class="bcls-question">¿Cuál es el desencadenante para que se envíe una vista de evento a Campaign? ¿Es cuando se completa el video, cuando se cierra la ventana del reproductor o algo más? ¿Qué sucede si el usuario nunca completa el video y no cierra la ventana del reproductor?</dt>
      <dd class="bcls-answer">Varía, pero, básicamente, el complemento Campaign envía un latido al servidor cada 10 segundos.</dd>
      <dt class="bcls-question">¿Cuándo considera Campaign el seguimiento de una vista como "completado"? ¿Es cuando la ventana del reproductor está cerrada o si completan el video? ¿Qué sucede si miran a la mitad, pausan el video y nunca cierran la ventana del reproductor?</dt>
      <dd class="bcls-answer">Es cuando han pasado 15 minutos desde la última vez que vimos un latido, básicamente falta de actividad.</dd>
      <dt class="bcls-question">¿Es posible que los datos de los espectadores cambien una vez que estén disponibles en los datos de visualización de la campaña? ¿Se actualizarán esos datos de eventos en el futuro mediante algún tipo de consolidación de registros? </dt>
      <dd class="bcls-answer">Una vez que los datos están disponibles en Campaign a través de la interfaz de usuario o la API, se considera "resuelto" y no va a cambiar.</dd>
    </dl>
  </section>
  <section class="bcls-section" id="data-protection">
    <h2>Protección de datos y retención de registros</h2>
    <dl>
      <dt class="bcls-question">¿Cumple Campaign GDPR?</dt>
      <dd class="bcls-answer">
        <p>Sí, Campaign brinda a los clientes la capacidad de actuar en nombre de sus usuarios, buscando y depurando cualquier dato que hayan recopilado a través de Campaign. </p>
        <p><a href="/campaign/admin/managing-viewer-data.html">https://studio.support.brightcove.com/campaign/admin/managing-viewer-data.html</a></p>
      </dd>
      <dt class="bcls-question">¿Cuánto tiempo se pueden conservar los datos en Campaign?</dt>
      <dd class="bcls-answer">Las integraciones de MAP se pueden establecer en un máximo de 6 meses, y las integraciones que no son de MAP se pueden establecer en 3 años. </dd>
      <dt class="bcls-question">¿Cuánto tiempo se almacenan en caché las búsquedas de GUID?</dt>
      <dd class="bcls-answer">30 días para las conocidas y 7 días para las desconocidas (solo se aplica a las integraciones de MAP, no se necesitan búsquedas para las integraciones que no son de MAP)</dd>
    </dl>
  </section>
  <section id="marketing-automation" class="bcls-section">
    <h2>Automatización de marketing y análisis de espectadores</h2>
    <dl>
      <dt class="bcls-question">¿En qué se diferencia el seguimiento de videos de cualquier otro medio en mi plataforma de automatización de marketing?</dt>
      <dd class="bcls-answer">A diferencia de una página web o un libro blanco descargable, con un video, puede determinar exactamente cuánto del video vio el espectador y, por lo tanto, exactamente a qué contenido ha estado expuesto. </dd>
      <dt class="bcls-question">¿Cómo se conecta con mi cuenta de Eloqua / Marketo / HubSpot?</dt>
      <dd class="bcls-answer">Puede iniciar sesión en su cuenta de Eloqua / Marketo / HubSpot directamente a través de Video Marketing Suite en el módulo Campaña. A partir de ahí, puede crear reproductores y formularios de clientes potenciales con el seguimiento de MAP integrado, para que pueda comenzar a rastrear el análisis de video de inmediato.</dd>
      <dt class="bcls-question">¿Puedo realizar un seguimiento de las vistas en mis páginas de Eloqua / Marketo / HubSpot, así como en mis páginas de destino que no son de Eloqua / Marketo / HubSpot (Sitecore / WordPress / Gallery, etc.)? </dt>
      <dd class="bcls-answer">Sí, siempre que el reproductor que se está utilizando esté "Campaña habilitada" (tenga instalado el complemento Campaña), se realizará un seguimiento de todas las vistas, ya sea que el reproductor resida en una página de destino de MAP o en cualquier otra página de destino.</dd>
      <dt class="bcls-question">¿Qué puedo rastrear con esta integración?</dt>
      <dd class="bcls-answer">Con nuestra integración, puede realizar un seguimiento de los análisis de visualización de videos (video, identificación de video, porcentaje de visualización, tiempo de visualización) de los contactos conocidos que ya están en su base de datos.</dd>
      <dt class="bcls-question">¿Qué pasa con los contactos desconocidos? ¿Puedo rastrearlos también?</dt>
      <dd class="bcls-answer">Con Brightcove Campaign, puede rastrear contactos desconocidos, y luego, cuando envían un formulario Eloqua / HubSpot (se conocen), Campaign puede asociar su información de audiencia con ese nuevo contacto de forma retroactiva. La campaña reenvía la información de audiencia diariamente para hacer coincidir los datos de visualización de contactos desconocidos con su instancia de Oracle Eloqua / HubSpot. </dd>
      <dt class="bcls-question">¿Dónde aparecerán mis datos de visualización de video en mi MAP?</dt>
      <dd class="bcls-answer">Esto depende del MAP que esté utilizando. Consulte la siguiente documentación para <a href="/campaign/integrations/eloqua/eloqua-integration-testing-guide.html">Oracle Eloqua</a>, <a href="/camapign/integrations/marketo/marketo-rest-integration-testing-guide.html">Marketo</a> y <a href="/campaign/integrations/hubspot/hubspot-rest-api-integration-testing-guide.html">HubSpot</a>.</dd>
      <dt class="bcls-question">¿En qué parte de Salesforce aparecerán mis datos de visualización de videos?</dt>
      <dd class="bcls-answer">Las visualizaciones de video se envían a Salesforce como una tarea bajo el contacto del espectador en la sección Actividad. Ver <a href="/campaign/integrations/salesforce/integrating-video-cloud-salesforce.html#sfdata">Ver datos de video en Salesforce</a> para un ejemplo de esto. </dd>
      <dt class="bcls-question">¿Puedo recibir una notificación con Salesforce cuando uno de mis contactos haya visto videos?</dt>
      <dd class="bcls-answer">No directamente. Sin embargo, puede ejecutar informes que le notificarán sobre la actividad de un contacto.</dd>
      <dt class="bcls-question">¿Existe alguna diferencia entre el seguimiento con Salesforce y Oracle Eloqua / Marketo?</dt>
      <dd class="bcls-answer">La mayor diferencia es que Salesforce no usa cookies para rastrear a los usuarios. Por lo tanto, se debe pasar un identificador único para identificar al espectador. Ver <a href="/campaign/integrations/salesforce/integrating-video-cloud-salesforce.html#identify">este documento</a> para más información. Además, Salesforce, al ser un CRM, no ofrece seguimientos automatizados ni puntuación de clientes potenciales. Sin embargo, puede crear tareas en Salesforce, que luego se asignan a su equipo de ventas para realizar seguimientos en la vida real.</dd>
      <dt class="bcls-question">Campaign tiene una opción de integración "personalizada", ¿con qué otras plataformas se puede integrar Campaign usando esto?</dt>
      <dd class="bcls-answer">
        <p>La campaña puede "integrarse" con cualquier plataforma de datos que:</p>
        <ol>
          <li>Utiliza un identificador único para cada registro de contacto</li>
          <li>Tiene una API que puede recibir datos adicionales de plataformas de terceros (como Campaign)</li>
        </ol>
      </dd>
    </dl>
  </section>
  <section id="lead-forms" class="bcls-section">
    <h2>Formularios de clientes potenciales del reproductor</h2>
    <dl>
      <dt class="bcls-question">¿Cuándo muestra Campaign un formulario de cliente potencial?</dt>
      <dd class="bcls-answer">La configuración predeterminada solo muestra el formulario de cliente potencial a un usuario desconocido en su base de datos MAP (los que desea convertir en un usuario conocido). Puede anular esto en la configuración si elige mostrar siempre el formulario de cliente potencial. Esto es más útil para realizar pruebas. Los usuarios conocidos se rastrean automáticamente y esos datos se asocian con el contacto en su MAP sin la necesidad de mostrar un formulario.</dd>
      <dt class="bcls-question">¿Puedo personalizar formularios de clientes potenciales?</dt>
      <dd class="bcls-answer">Puede ajustar el texto y los campos que se muestran mediante la interfaz de usuario. No puede modificarlo más allá de lo que está disponible en la interfaz de usuario (la Galería puede actualizar algunos estilos para que los formularios coincidan con el sitio) </dd>
    </dl>
  </section>
  <section id="general" class="bcls-section">
    <h2>Temas generales</h2>
    <dl>
      <dt class="bcls-question">¿Qué código de inserción debo usar? ¿Iframe o in-page?</dt>
      <dd class="bcls-answer">Para que Campaign funcione, se requiere que se utilice el código de inserción Avanzado. Si se utiliza el código de incrustación estándar (iframe), el reproductor se aísla de la página, lo que significa que el complemento Campaign no puede ver el identificador único y, por lo tanto, todos los usuarios se verán como "desconocidos".</dd>
      <dt class="bcls-question">¿Qué es la automatización del marketing?</dt>
      <dd class="bcls-answer">La automatización de marketing es una tecnología que rastrea la interacción del cliente potencial / usuario con diferentes canales de marketing en línea (correo electrónico, web, formularios, contenido, video, redes sociales, etc.). La automatización del marketing ayuda a los especialistas en marketing a comercializar de forma más eficaz a través de estos canales y automatiza las tareas de marketing repetitivas (como las comunicaciones por correo electrónico). La automatización del marketing permite al especialista en marketing configurar tareas automatizadas y personalizadas basadas en variables predefinidas. Por ejemplo, si un usuario ve el 75% de un video específico, envíele un correo electrónico sobre ese tema específico, pero si solo ve el 12%, envíele algo más. </dd>
      <dt class="bcls-question">¿Brightcove es una empresa de automatización de marketing?</dt>
      <dd class="bcls-answer">No, Brightcove ofrece una solución completa para el marketing por vídeo. Con nuestra solución, puede poner sus videos en línea, organizar su contenido, crear reproductores, crear portales de video, realizar un seguimiento de los análisis e integrarse con su propia plataforma de automatización de marketing existente. Brightcove integra análisis de video en plataformas de automatización de marketing.</dd>
      <dt class="bcls-question">¿Cómo puedo verificar si una actividad personalizada de Marketo está configurada correctamente?</dt>
      <dd class="bcls-answer">Campaign tiene una URL oculta que ofrece algunas herramientas de depuración para ciertos tipos de integraciones, siendo una de ellas Marketo REST. <a href="https://studio.brightcove.com/products/videocloud/campaign/debug">https://studio.brightcove.com/products/videocloud/campaign/debug</a>
        <figure class="bcls-figure"><img class="bcls-image--no-border" alt="Campaign settings " src="/assets/images/campaign/general/faq-debug.png" /></figure>
      </dd>
      <dt class="bcls-question">¿Qué se debe hacer para configurar una integración personalizada?</dt>
      <dd class="bcls-answer">Hay que hacer tres cosas:
        <ol>
          <li>Debe exponer un identificador único en la URL o el código de la página que Campaign puede capturar.</li>
          <li> Cree una secuencia de comandos que utilice las API de audiencia para recuperar los datos como un archivo JSON (Brightcove Global Services puede ayudar con esto).</li>
          <li> Asigne los datos a los campos de su base de datos de destino (piense en la combinación de hojas de cálculo).</li>
        </ol>
        La siguiente documentación de soporte cubre estas tareas:
        <ul>
          <li><a href="/campaign/integrations/non-map/creating-custom-integrations-campaign-module.html">Creación de integraciones personalizadas con el módulo de campaña</a> - Cubre cómo proporcionar un identificador único que Campaign puede capturar.</li>
          <li> <a href="/campaign/develop/overview-audience-api.html">API de audiencia</a> - Cubre cómo recuperar programáticamente todos los datos como un archivo JSON que luego puede importar al sistema de procesamiento de datos de su elección.</li>
        </ul>
      </dd>
      <dt class="bcls-question">¿Cómo Campaign envía datos CDO a Eloqua?</dt>
      <dd class="bcls-answer">Usamos la API masiva de objetos personalizados. <a href="https://docs.oracle.com/cloud/latest/marketingcs_gs/OMCAC/api-bulk-2.0-customobjects.html">https://docs.oracle.com/cloud/latest/marketingcs_gs/OMCAC/api-bulk-2.0-customobjects.html </a></dd>
      <dt class="bcls-question">¿Cómo impulsa Campaign la actividad de activos externos? ¿Cómo puedo controlar la campaña, los activos externos y los tipos de actividad utilizados?</dt>
      <dd class="bcls-answer">Utilizamos la API de actividad externa (<a href="https://docs.oracle.com/cloud/latest/marketingcs_gs/OMCAC/op-api-rest-2.0-data-activity-post.html">https://docs.oracle.com/cloud/latest/marketingcs_gs/OMCAC/op-api-rest-2.0-data-activity-post.html</a>). No hay control sobre el nombre de la campaña, el nombre del activo o el tipo. Simplemente creamos una campaña por nuestra cuenta (llamada BrightcoveVideoPlay) y luego procedemos a crear actividades, también llamada BrightcoveVideoPlay. </dd>
      <dt class="bcls-question">¿Qué direcciones IP puedo incluir en la lista blanca para que Campaign pueda comunicarse con el servicio X?</dt>
      <dd class="bcls-answer">Campaign ha establecido un conjunto de direcciones IP que deben usarse para la lista blanca de IP. Para ver la lista, edite una conexión Eloqua y haga clic en el <a ng-click="showInfo()" ng-if="::!ctrl.hideWhitelistInfo &amp;&amp; ctrl.isEloqua(ctrl.integration)" context="troubleSeeing"><strong>¿No puede ver los datos de la campaña en Eloqua?</strong></a> enlace para ver la lista de direcciones IP.</dd>
    </dl>
  </section>
</article>